html {
	background:         url("../img/background.webp") repeat center center;
	-moz-box-shadow:    0 0 93px 29px rgba(0, 0, 0, 0.75) inset;
	-webkit-box-shadow: 0 0 93px 29px rgba(0, 0, 0, 0.75) inset;
	box-shadow:         0 0 93px 29px rgba(0, 0, 0, 0.75) inset;
	height:             100vh;
	width:              100vw;
}

body {
	height:  100%;
	margin:  0;
	padding: 0;
	width:   100%;
}

a {
	text-decoration: none;
}

.app {
	height: 100vh;
	width:  100vw;
}

* {
	--sb-size:        18px;
	--sb-thumb-color: #C0C0C0;
	--sb-track-color: #000;
}

*::-webkit-scrollbar {
	width: var(--sb-size)
}

*::-webkit-scrollbar-track {
	background:    var(--sb-track-color);
	border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
	background:    var(--sb-thumb-color);
	border-bottom: 4px solid #808080;
	border-radius: 1px;
	border-right:  4px solid #808080;
}

@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}