.text-minecraft {
	color:       white;
	font-family: 'Minecraft';
	font-size:   2em;
}

.bar-container {
	border-bottom: 1px solid white;
	border-top:    1px solid white;
	margin:        10px 0;
	padding:       10px 0;
}

.input-block {
	align-items:     center;
	display:         flex;
	flex-direction:  row;
	justify-content: space-between;
	margin-bottom:   20px;
}

.main-container {
	display:        flex;
	flex-direction: column;
	padding-top:    2vh;
}

.input-block label {
	flex:          0.5;
	padding-right: 10px;
	text-align:    left;
}

.input-block button, .input-block input, .input-block select {
	flex: 0.1666;
}

.input-block {
	justify-content: center;
}

.command-renderer {
	background: black;
	border:     3px solid white;
	height:     15vh;
	margin-top: 10px;
	resize:     none;
	width:      50vw;
}

.enchantment-container {
	max-height: 45vh;
	overflow-y: auto;
}

.back-button-container {
	left:     1vw;
	margin:   10px;
	position: absolute;
	top:      1vh;
}