.text-minecraft {
	font-family: 'Minecraft';
	font-size:   2em;
	color:       white;
}

.bar-container {
	border-top:    1px solid white;
	border-bottom: 1px solid white;
	padding:       10px 0;
	margin:        10px 0;
}

.input-block {
	display:         flex;
	flex-direction:  row;
	align-items:     center;
	justify-content: space-between;
	margin-bottom:   20px;
}

.main-container {
	padding-top:     2vh;
	display:        flex;
	flex-direction: column;
}

.input-block label {
	flex:          0.5;
	text-align:    left;
	padding-right: 10px;
}

.input-block button, .input-block input, .input-block select {
	flex: 0.1666;
}

.input-block {
	justify-content: center;
}

.command-renderer {
	margin-top: 10px;
	border:     3px solid white;
	background: black;
	width:      50vw;
	height:     15vh;
	resize:     none;
}

.enchantment-container {
	max-height: 45vh;
	overflow-y: auto;
}

.back-button-container {
	position: absolute;
	top:      1vh;
	left:     1vw;
	margin:   10px;
}

.notification {
	position: fixed;
	top: 2vh;
	right: 1vw;
	background-color: seagreen;
	color: whitesmoke;
	padding: 2rem 3rem;
	border-radius: 5px;
	z-index: 1000;
	opacity: 0;
	font-size: 2rem;
	font-family: "Minecraft", sans-serif;
}

.notification.show {
	opacity: 1;
}