.home {
	margin:           0 auto;
	padding-top:      10vh;
	display:          block;
	width:            40vw;
	height:           90vh;
	background-color: rgba(0, 0, 0, 0.2);
}

.home-logo {
	margin-bottom: 20px;
}

.home-logo img {
	max-width: 100%;
	height:    auto;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.home-buttons {
	margin: 1vw;

	> * {
		margin-bottom: 1vh;
	}
}

.home-buttons-dual {
	display: flex;

	> *:first-child {
		margin-right: 0.5vw;
	}
}

.home-page.html-bg-1 {
	background: url("../img/Home1.png");
}

.home-page.html-bg-2 {
	background: url("../img/Home2.png");
}

.home-page.html-bg-3 {
	background: url("../img/Home3.png");
}

.home-page.html-bg-4 {
	background: url("../img/Home4.png");
}

.home-page.html-bg-5 {
	background: url("../img/Home5.png");
}

.home-page.html-bg-6 {
	background: url("../img/Home6.png");
}

.home-page.html-bg-7 {
	background: url("../img/Home7.png");
}

.home-page.html-bg-8 {
	background: url("../img/Home8.png");
}

.home-page.html-bg-9 {
	background: url("../img/Home9.png");
}

.home-page.html-bg-10 {
	background: url("../img/Home10.png");
}

.home-page.html-bg-11 {
	background: url("../img/Home11.png");
}