.minecraft-input {
	background-color: #000000;
	border:           3px solid white;
	box-shadow:       none;
	color:            #FFFFFF;
	font-family:      'Minecraft', sans-serif;
	font-size:        1.5em;
	padding:          10px;
	text-align:       center;
}

.fixed-size {
	box-sizing: border-box;
	height:     4rem;
	margin:     0;
	width:      20rem;
}

.enchantement-value-input {
	width:  5rem;
}