.potion-command {
	margin: 0 25vw;
	width:  50vw;
	align-items: center;
}

.potion-command-main-container {
	display:        flex;
	flex-direction: column;
	padding-top:    2vh;
}

.potion-effects-selector {
	width: 58vw;
	display: flex;
	align-content: flex-start;
	max-height: 48vh;
	height: 48vh;
	overflow-y: auto;
	margin-bottom: 1rem;
}

.input-block {
	align-items:     center;
	display:         flex;
	flex-direction:  row;
	justify-content: center;
	margin-bottom:   20px;
}

.input-block label {
	flex:          .6;
	padding-right: 10px;
	text-align:    left;
}

.input-block button, .input-block input, .input-block select {
	flex: 0.1666;
}

.effect-block {
	background: rgba(7, 7, 7, 0.4);
	border:     1px solid #AFAFAF;
	box-shadow: none;
	color:      #FFF;
	display:    flex;
	gap:        1rem;
	height:     4rem;
	margin:     1rem auto;
	padding:    1rem;
	width:      50vw;
}

.effect-block label {
	flex:          .6;
	padding-right: 10px;
	text-align:    left;
}

.effect-block button, .effect-block input, .effect-block select {
	flex: 0.1666;
}

.effect-block .input1 {
	display: block
}

.effect-block .input1 .minecraft-input {
	min-width:  18rem;
	font-size: 1.5rem;
}

.effect-block .input2 .minecraft-input,
.effect-block .input3 .minecraft-input {
	height: 4vh;
	width:  9rem;
	font-size: 1.5rem;
}

.effect-button-block {
	display: flex;
}

.button-effect-block{
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input4, .input5{
	width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


.checkbox-style {
	min-width: 5vh;
	min-height: 5vh;
	appearance: none;
	-webkit-appearance: none;
	background-color: #000000;
	border: 3px solid white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkbox-style:checked {
	background-color: #0c0c0c;
	position:         relative;
}

.checkbox-style:checked::after {
	content: 'X';
	color: white;
	font-family: "Minecraft", sans-serif;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.effect-block .McButtons {
	margin: 0 !important;
}

.potion-header-row .potion-header1 {
	width: 18rem;
}

.potion-header-row .potion-header2 {
	width: 11rem;
}

.potion-header-row .potion-header3 {
	width: 11rem;
}

.potion-header-row .potion-header4 {
}

.potion-header-row .potion-header5 {
	width: 6rem;
}

.potion-header-row .potion-header1,
.potion-header-row .potion-header2,
.potion-header-row .potion-header3,
.potion-header-row .potion-header4,
.potion-header-row .potion-header5 {
	text-align: center;
}

.potion-header-row {
	display:    flex;
	gap:        1rem;
	padding:    1rem;
	width:      50vw;
}

.command-renderer {
	background: black;
	border:     3px solid white;
	cursor:     pointer;
	height:     15vh;
	margin-top: 10px;
	resize:     none;
	width:      50vw;
}

.potion-bar-container {
	width: 52vw;
	border-bottom: 1px solid white;
	border-top:    1px solid white;
	margin:        10px 0;
	padding:       10px 0;
}